body {
  background: #071c2f;
  font-family: "Segoe UI", sans-serif;
}

.custom-nav {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.navbar-brand {
  font-size: 28px;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 80px;
}
.txt1{
    margin-left: 600px;
}
.badge-custom {
    width: 100px;
  background: rgba(47, 140, 255, 0.2);
  padding: 8px 15px;
  border-radius: 50px;
  color: #2f8cff;
  font-size: 14px;
}

.btn-primary {
  background: linear-gradient(45deg, #2f8cff, #4facfe);
  border: none;
}

.btn-outline-light {
  border: 1px solid #ccc;
}

.text-muted {
  color: #e5e6e7 !important;
}

.hero-img {
  max-width: 90%;
}
.about {
  background: #071c2f;
}

.stats-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
}

.stats-box h3 {
  color: #2f8cff;
  font-weight: bold;
}

.stats-box p {
  font-size: 14px;
  color: #9aa4af;
}

.icon-box {
  width: 40px;
  height: 40px;
  background: rgba(47, 140, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.main-img {
  width: 85%;
}

.small-img {
  width: 60%;
  position: absolute;
  bottom: -40px;
  left: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.award-card {
  position: absolute;
  right: 20px;
  top: 40%;
  background: #0d2a45;
  padding: 15px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.services {
  background: #071c2f;
}

.service-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 15px;
  color: white;
  position: relative;
  transition: 0.3s;
  height: 100%;
}

.service-card:hover {
  transform: translateY(-5px);
  /* border: 1px solid #2f8cff; */
  box-shadow:
    rgb(21, 50, 240) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.active-card {
  border: 1px solid #2f8cff;
}

.service-card .icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.popular {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ff6b6b;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.service-card ul {
  padding-left: 15px;
}

.service-card ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.service-card a {
  color: #2f8cff;
  text-decoration: none;
  font-size: 14px;
}

.cta-box {
  background: linear-gradient(45deg, #2f8cff, #4facfe);
  padding: 30px;
  border-radius: 15px;
  color: white;
}

.badge-light {
  background: rgba(255, 255, 255, 0.3);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
}
.portfolio {
  background: #071c2f;
}

.filter-btn {
  background: transparent;
  border: 1px solid #2f8cff;
  color: white;
  padding: 6px 14px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.filter-btn.active,
.filter-btn:hover {
  background: #2f8cff;
}

.portfolio-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.portfolio-card:hover {
  transform: translateY(-5px);
  box-shadow:
    rgb(21, 50, 240) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.portfolio-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.portfolio-card .tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #2f8cff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
}

.portfolio-card .content {
  padding: 20px;
  color: white;
}

.portfolio-card small {
  color: #2f8cff;
  font-size: 12px;
}

.portfolio-card p {
  font-size: 14px;
  color: #9aa4af;
}

.chips p {
  display: inline-block;
  border: 1px solid #2f8cff;
  padding: 3px 8px;
  margin: 3px;
  border-radius: 10px;
  font-size: 12px;
}

.portfolio-card a {
  display: inline-block;
  margin-top: 10px;
  color: #2f8cff;
  text-decoration: none;
  font-size: 14px;
}
.contact {
  background: #071c2f;
}

.contact-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 10px;
}

.active-contact {
  border: 1px solid #2f8cff;
}
.contact-stats {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
}
.contact-stats h5 {
  color: #2f8cff;
}

.form-box {
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;

  border-radius: 15px;
}
.form-box form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form-control {
  height: 50px;
  background: transparent;
  border: 1px solid #2a3b4d;
  color: white;
}

.form-control::placeholder {
  color: #9aa4af;
}

.form-control:focus {
  background: transparent;
  color: white;
  border-color: #2f8cff;
  box-shadow: none;
}
.footer {
  background: #071c2f;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #9aa4af;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #2f8cff;
}

.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #2a3b4d;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-right: 8px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #2f8cff;
}

.footer-bottom {
  background: #0d2a45;
  padding: 15px;
  color: white;
}
